{% extends "layout.html" %}

{% block content %}
        <body>
        <div 첫번째 영역>
            <p align="center"><span style="font-family: Jua; font-size: 2.0em">전자공학부 장학 정보</span>
            </p>
        </div>
        <div id="contents">
            <script type="text/javascript">

</script>
              <div class="board">
                    <div class="clearfix">
                       <div class="left">
                       </div>
                       <div class="right">
                  </div>
                     </span>
                       </div>
             </div>
      <form name="chkBoxForm" method="post" action="./selectDelete.do" onsubmit="return boardDataRemove()">
         <input type="hidden" name="boardSeq" value="112">
         <input type="hidden" name="key" value="698">
         <input type="hidden" name="page" value="2">
         <input type="hidden" name="category" value="">
         <input type="hidden" name="searchCn" value="">
         <input type="hidden" name="searchCo" value="">
         <input type="hidden" name="searchCc" value="">
         <input type="hidden" name="searchTerm" value="">
         <input type="hidden" name="searchType" value="">
         <input type="hidden" name="searchKeyword" value="">
         <input type="hidden" name="MemberTYPE" value="">
<style>
table tr, th, td{
text-align:center;
line-height:300%;
font-size: 1.0em;
font-family: 'Nanum Gothic', sans-serif;
}
</style>
         <div style = "padding: 0px 300px 0px 300px;">
         <table style="margin-left: auto; margin-right: auto;" class="table table-striped" border="0" summary="공지사항_공지사항 게시물이며  제목, 작성자, 파일, 조회수, 작성일등의 정보를 제공합니다.">

         <thead class="th list">
         <tr bgcolor="mistyrose">
            <th scope="col" width="100px" class="first">번호</th>
            <th scope="col" width="700px">제목</th>
            <th scope="col" width="180px">작성자</th>
            <th scope="col" width="100px">조회수</th>
            <th scope="col" width="100px" class="last">작성일</th>
         </tr>
         </thead>
         <tbody class="tb">
               {% for jj_info in jj_infos %}
                 <tr>
                  <td>{{jj_info.id}}</td>
                  <td class="subject" style="padding-left:0px;">
                     <a href={{jj_info.Href}}>
                     {{jj_info.Name}}
                     </a>
                  </td>
                  <td>전자공학부</td>
                  <td>{{jj_info.View}}</td>
                  <td>{{jj_info.Date}}</td>
               </tr>
         {% endfor %}


         </tbody>
         </table>
         </div>
      </form>
</div>
           <!-- //contents -->
           </div>
        </body>

{% endblock content %}