<!DOCTYPE html>
{% load static %}
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang=""> <!--<![endif]-->
<link href="http://fonts.googleapis.com/earlyaccess/hanna.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Do+Hyeon&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Nanum+Gothic&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Jua&display=swap" rel="stylesheet">
<style>
    p.hanna{
    font-family: 'Hanna', serif;
    }
    p.gothic{
    font-family: 'Nanum Gothic', sans-serif;
    }
    p.do{font-family: 'Do Hyeon', sans-serif;}
    p.jua{font-family: 'Jua', sans-serif;}
</style>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>OXS 장학정보 사이트</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="apple-touch-icon" href="apple-touch-icon.png">

        <link rel="stylesheet" href="/static/css/bootstrap.min.css">
        <!--        <link rel="stylesheet" href="assets/css/bootstrap-theme.min.css">-->


        <!--For Plugins external css-->
        <link rel="stylesheet" href="/static/css/plugins.css" />
        <link rel="stylesheet" href="/static/css/roboto-webfont.css" />

        <!--Theme custom css -->
        <link rel="stylesheet" href="/static/css/style.css">

        <!--Theme Responsive css-->
        <link rel="stylesheet" href="/static/css/responsive.css" />

        <script src="/static/js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
    </head>
    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
      <div class='preloader'><div class='loaded'>&nbsp;</div></div>
        <!-- Sections -->
        <section id="social" class="social">
            <div class="container">
                <!-- Example row of columns -->
                <div class="row">
                    <div class="social-wrapper">
                        <div class="col-md-6">
                             <div class="social-icon">
                                <a href="https://www.facebook.com/CBNU52nd/"><i class="fa fa-facebook"></i></a>
                                <a href="https://www.instagram.com/oxs_scholarship/"><i class="fa fa-instagram"></i></a>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="social-contact">
                                <a href="#"><i class="fa fa-phone"></i>010-0205-0205</a>
                                <a href="#"><i class="fa fa-envelope"></i>oxsscholarship@naver.com</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div> <!-- /container -->
        </section>

        <nav class="navbar navbar-default">
            <div class="container">
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                    <ul class="nav navbar-nav navbar-right">
                        <li class="active"><a href="index.html">Home</a></li>
                        <li><a href="_CBNU.html"><span style="font-family: Jua; font-size: 1.3em">충북대학교</span></a></li>
                        <li><a href="_JJD.html"><span style="font-family: Jua; font-size: 1.3em">전자정보대학</span></a></li>
                        <li><a href="_SW.html"><span style="font-family: Jua; font-size: 1.3em">소프트웨어학과</span></a></li>
                        <li><a href="_JK.html"><span style="font-family: Jua; font-size: 1.3em">전기공학부</span></a></li>
                        <li><a href="_JJ.html"><span style="font-family: Jua; font-size: 1.3em">전자공학부</span></a></li>
                        <li><a href="_JT.html"><span style="font-family: Jua; font-size: 1.3em">정보통신공학부</span></a></li>
                        <li><a href="_COM.html"><span style="font-family: Jua; font-size: 1.3em">컴퓨터공학과</span></a></li>
                        <li class="login"><a href="login.html">LogIn</a></li>
                    </ul>

                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>

        <body>

        <div 첫번째 영역>
            <p align="center"><span style="font-family: Jua; font-size: 2.0em">전자공학부 장학 정보</span>
            </p>
        </div>
        </body>

   <!--Footer-->
        <footer id="footer" class="footer">
            <div class="container">
                <div class="row">
                    <div class="footer-wrapper">

                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="footer-brand">
                                <img src="/static/images/OXSlogo.png" width="60" height="30" alt="logo" />
                            </div>
                        </div>

                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="copyright">
                                <p>Made with <i class="fa fa-heart"></i> by <a target="_blank" href="http://bootstrapthemes.co"> Bootstrap Themes </a>2016. All rights reserved.</p>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </footer>

   <script src="/static/js/vendor/jquery-1.11.2.min.js"></script>
        <script src="/static/js/vendor/bootstrap.min.js"></script>

        <script src="/static/js/plugins.js"></script>
        <script src="/static/js/modernizr.js"></script>
        <script src="/static/js/main.js"></script>
</body>
</html>