
<!DOCTYPE html>
{% load static %}
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang=""> <!--<![endif]-->
<link href="http://fonts.googleapis.com/earlyaccess/hanna.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Do+Hyeon&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Nanum+Gothic&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Jua&display=swap" rel="stylesheet">
<style>
    p.hanna{
    font-family: 'Hanna', serif;
    }
    p.gothic{
    font-family: 'Nanum Gothic', sans-serif;
    }
    p.do{font-family: 'Do Hyeon', sans-serif;}
    p.jua{font-family: 'Jua', sans-serif;}
</style>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>OXS 장학정보 사이트</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="apple-touch-icon" href="apple-touch-icon.png">

        <link rel="stylesheet" href="static/css/bootstrap.min.css">
        <!--        <link rel="stylesheet" href="assets/css/bootstrap-theme.min.css">-->


        <!--For Plugins external css-->
        <link rel="stylesheet" href="/static/css/plugins.css" />
        <link rel="stylesheet" href="/static/css/roboto-webfont.css" />

        <!--Theme custom css -->
        <link rel="stylesheet" href="/static/css/style.css">

        <!--Theme Responsive css-->
        <link rel="stylesheet" href="/static/css/responsive.css" />

        <script src="/static/js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
    </head>
    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
      <div class='preloader'><div class='loaded'>&nbsp;</div></div>
        <!-- Sections -->
        <section id="social" class="social">
            <div class="container">
                <!-- Example row of columns -->
                <div class="row">
                    <div class="social-wrapper">
                        <div class="col-md-6">
                            <div class="social-icon">
                                <a href="https://www.facebook.com/CBNU52nd/"><i class="fa fa-facebook"></i></a>
                                <a href="https://www.instagram.com/oxs_scholarship/"><i class="fa fa-instagram"></i></a>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="social-contact">
                                <a href="#"><i class="fa fa-phone"></i>010-0205-0205</a>
                                <a href="#"><i class="fa fa-envelope"></i>oxsscholarship@naver.com</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div> <!-- /container -->
        </section>

        <nav class="navbar navbar-default">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                   <ul class="nav navbar-nav navbar-right">
                        <li class="active"><a href="index.html">Home</a></li>
                        <li><a href="_CBNU.html"><span style="font-family: Jua; font-size: 1.3em">충북대학교</span></a></li>
                        <li><a href="_JJD.html"><span style="font-family: Jua; font-size: 1.3em">전자정보대학</span></a></li>
                        <li><a href="_SW.html"><span style="font-family: Jua; font-size: 1.3em">소프트웨어학과</span></a></li>
                        <li><a href="_JK.html"><span style="font-family: Jua; font-size: 1.3em">전기공학부</span></a></li>
                        <li><a href="_JJ.html"><span style="font-family: Jua; font-size: 1.3em">전자공학부</span></a></li>
                        <li><a href="_JT.html"><span style="font-family: Jua; font-size: 1.3em">정보통신공학부</span></a></li>
                        <li><a href="_COM.html"><span style="font-family: Jua; font-size: 1.3em">컴퓨터공학과</span></a></li>
                        <li class="login"><a href="logindex.html">LogIn</a></li>
                    </ul>

                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>

        <!--Home page style-->
        <style>
        .text_border
        {
       text-shadow: 3px 3px 3px #000000;
        }
        </style>
        <header id="home" class="home">
            <div class="overlay-fluid-block">
                <div class="container text-center">
                    <div class="row">
                        <div class="home-wrapper">
                            <div class="col-md-10 col-md-offset-1">
                                <div class="home-content">

                                    <h1><div class='text_border'><span style="line-height:200%; font-family: Hanna; font-size: 2.5em; color: white;">OXS 장학 정보</span></div></h1>
                                    <p><div class='text_border'><span style ="line-height:200%; font-family: Do Hyeon; font-size : 2.7em; color: white;" >안녕하세요. OXS 장학정보는 충북대학교 전자정보대학 학생들에게 장학정보를 제공해주기 위한 사이트입니다.</span></div></p>

                                    <div class="row">
                                        <div class="col-md-6 col-md-offset-3 col-sm-12 col-xs-12">
                                            <div class="home-contact">
                                                <div class="input-group">
                                                    <input type="text" class="form-control" placeholder="search for scholarship">
                                                    <input type="submit" class="form-control" value="SEARCH">
                                                </div><!-- /input-group -->


                                            </div>
                                        </div>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <section id="contact" class="contact sections">
            <div class="container">
                <div class="row">
                    <div class="main_contact whitebackground">
                        <div class="head_title text-center">
                            <h2 class=hanna>GET IN TOUCH</h2>
                     <p class=hanna>개발자에게 피드백(의견)을 보내주세요!</p>
                        </div>
                        <div class="contact_content">
                            <div class="col-md-6">
                                <div class="single_left_contact">
                                    <form action="#" id="formid">

                                        <div class="form-group">
                                            <input type="text" class="form-control" name="name" placeholder="이름" required="">
                                        </div>

                                        <div class="form-group">
                                            <input type="email" class="form-control" name="email" placeholder="Email" required="">
                                        </div>


                                        <div class="form-group">
                                            <textarea class="form-control" name="message" rows="8" placeholder="Message를 입력하세요"></textarea>
                                        </div>

                                        <div class="center-content">
                                            <input type="submit" value="Submit" class="btn btn-default">
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="single_right_contact">
                                    <p class="hanna">안녕하세요 OXS 장학정보 홈페이지 관리자입니다. 사이트를 이용하면서 좋았던 점, 불편한 점 등 여러 의견을 보내주시면 감사하겠습니다! </p>

                                    <div class="contact_address margin-top-40">
                                        <span style="font-family: Nanum Gothic; font-size:1.0em">충북대학교 소프트웨어학과 오픈소스 기초 프로젝트 02-05 연구실</span>
                                        <span style="font-family: Nanum Gothic; font-size:1.0em">충북 청주시 서원구 충대로1 전자정보대학3관 S4-1 소프트웨어학과</span>
                                        <span class="margin-top-20">T: (043) 020-0205</span>
                                    </div>

                                    <div class="contact_socail_bookmark">
                                        <a href="https://www.facebook.com/CBNU52nd"><i class="fa fa-facebook"></i></a>
                                        <a href="https://www.instagram.com/oxs_scholarship/"><i class="fa fa-instagram"></i></a>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section><!-- End of Contact Section -->


        <section id="footer-menu" class="sections footer-menu">
            <div class="container">
                <div class="row">
                    <div class="footer-menu-wrapper">

                        <div class="col-md-8 col-sm-12 col-xs-12">
                            <div class="col-md-4 col-sm-6 col-xs-12">
                                <div class="menu-item">
                                    <h5>Information</h5>
                                    <ul>
                                        <li>충북대학교 장학정보</li>
                                        <li>전자정보대학 장학정보</li>
                                        <li>소프트웨어학과 장학정보</li>
                                        <li>전기공학부 장학정보</li>
                                        <li>전자공학부 장학정보</li>
                                        <li>정보통신공학부 장학정보</li>
                                        <li>컴퓨터공학과 장학정보</li>
                                    </ul>
                                </div>
                            </div>

                            <div class="col-md-4 col-sm-6 col-xs-12">
                                <div class="menu-item">
                                    <h5>Inside and outside of campus</h5>
                                    <ul>
                                        <li>교내 장학정보</li>
                                        <li>교외 장학정보</li>
                                    </ul>
                                </div>
                            </div>

                            <div class="col-md-4 col-sm-6 col-xs-12">
                                <div class="menu-item">
                                    <h5>Developer</h5>
                                    <ul>
                                        <li>김동환</li>
                                        <li>신지혜</li>
                                        <li>장세나</li>
                                        <li>전민선</li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-6 col-xs-12">
                            <div class="menu-item">
                                <h5>CONTANCT US</h5>
                                <p>이메일 보내기</p>
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="이메일을 입력해주세요 ">
                                    <input type="submit" class="form-control" value="전송">
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </section>


        <!--Footer-->
        <footer id="footer" class="footer">
            <div class="container">
                <div class="row">
                    <div class="footer-wrapper">

                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="footer-brand">
                                <img src="/static/images/OXSlogo.png" width="60" height="30" alt="logo" />
                            </div>
                        </div>

                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="copyright">
                                <p>Made with <i class="fa fa-heart"></i> by <a target="_blank" href="http://bootstrapthemes.co"> Bootstrap Themes </a>2016. All rights reserved.</p>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </footer>


      <div class="scrollup">
         <a href="#"><i class="fa fa-chevron-up"></i></a>
      </div>


        <script src="/static/js/vendor/jquery-1.11.2.min.js"></script>
        <script src="/static/js/vendor/bootstrap.min.js"></script>

        <script src="/static/js/plugins.js"></script>
        <script src="/static/js/modernizr.js"></script>
        <script src="/static/js/main.js"></script>
    </body>
</html>